html, body{
  margin: 0px;
  background-color: #2f4f30;
  color: #FFF;
}

.title{
  text-align: center;
  padding: 20px;
  font-size: 25px;
  background-color: black;
}

.card{
  width: 150px;
  height: 200px;
  position: relative;
  left: 100px;
  margin-left: -110px;
}

.board{
  height: 256px;
}